{% extends "base.html" %}
{% block content %}
    <main role="main" class="inner cover">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <h1 class="cover-heading">TLS/SSL Lab</h1>
        <p class="lead">This Lab intends to show you how it is required to use HTTPS. Take it as Habit to use TLS/SSL
            over HTTP.</p>
        <p>
            Let’s Encrypt is a free, automated, and open certificate authority (CA), run for the public’s benefit. It is
            a service provided by the Internet Security Research Group (ISRG).
        </p>
        <p class="lead">
            <a href="https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-18-04"
               class="btn btn-lg btn-secondary">Visit Let's Encrypt Website to learn more</a>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <a href="https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-18-04"
           class="btn btn-lg btn-secondary">Learn how to use Let's Encrypt on Ubuntu</a>
        </p>
    </main>
{% endblock %}