{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="mt-2">Contact Us</h1>
    <hr class="mt-0 mb-4">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Login</button>
        <button class="btn btn-default float-right"><a href="{% url 'home' %}" class="text-decoration-none">Cancel</a>
        </button>
    </form>
    <div>&nbsp;</div>
    <hr class="my-4">

    <p><small>Don't have an account? </small><a href="{% url 'signup' %}">Signup</a></p>
{% endblock %}